.people {
    max-width: 1250px;
    width: 85%;
    // background-color: green;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 12px;
    margin-top: 80px;
    margin-bottom: 80px;
}